.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section img{
    height: 70px;
    margin:10px 0
}
.header-section>p{
    font-size: 3.2rem;
    font-weight: bolder;
}